<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" block="IE=edge" />
    <meta name="viewport" block="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/2e7e3003f3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/mobile.css" />
    <title>Social Web</title>
  </head>
  <body>
    <div class="page-container">
      <header id="main-header" class="sticky">
        <ul>
          <li>
            <a href="#">
              <div class="block-container round logo">
                <div class="block">
                  <i class="fab fa-twitter"></i>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="block-container round current">
                <div class="block">
                  <i class="fas fa-home"></i>
                  <div class="labels">
                    <h3>Home</h3>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="block-container round">
                <div class="block">
                  <i class="fas fa-hashtag"></i>
                  <div class="labels">
                    <h3>Explore</h3>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="block-container round">
                <div class="block">
                  <i class="fas fa-bell"></i>
                  <div class="labels">
                    <h3>Notifications</h3>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="block-container round">
                <div class="block">
                  <i class="far fa-envelope"></i>
                  <div class="labels">
                    <h3>Messages</h3>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="block-container round">
                <div class="block">
                  <i class="far fa-bookmark"></i>
                  <div class="labels">
                    <h3>Bookmarks</h3>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="block-container round">
                <div class="block">
                  <i class="far fa-list-alt"></i>
                  <div class="labels">
                    <h3>Lists</h3>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="block-container round">
                <div class="block">
                  <i class="far fa-user"></i>
                  <div class="labels">
                    <h3>Profile</h3>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="block-container round">
                <div class="block">
                  <i class="fas fa-info-circle"></i>
                  <div class="labels">
                    <h3>More</h3>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="block-container round btn-primary btn-wide">
                <div class="block">
                  <i class="fas fa-feather"></i>
                  <div class="labels">
                    <h3>Tweet</h3>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="block-container round flex">
                <div class="block">
                  <img src="../img/user.png" alt="" />
                  <div class="labels">
                    <h3>yogoh</h3>
                    <p>@yogoh31</p>
                  </div>
                </div>
                <div class="button">
                  <div class="btn-small">
                    <i class="fas fa-info-circle"></i>
                  </div>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </header>
      <main id="main">
        <div class="card-container">
          <div class="card">
            <div class="image-container">
              <img src="../img/user.png" alt="" />
            </div>
            <div class="content-container">
              <header class="card-header">
                <div class="labels undreline-hlabel">
                  <h3>Captain Puffy - Cara</h3>
                  <span>@CptPuffy</span>
                </div>
                <div class="dot">
                  <span>·</span>
                </div>
                <div class="date">
                  <span class="underline">20h</span>
                </div>
                <a href="#" class="btn-small btn-primary-light"><i class="fas fa-info-circle"></i></a>
              </header>
              <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quas cumque quisquam laboriosam blanditiis cupiditate nisi maiores aliquid provident, veniam nesciunt ad molestias voluptatibus nulla quae, quia perferendis deleniti architecto.</div>
            </div>
          </div>
          <footer class="footer-container">
            <ul>
              <li class="btn-react-blue">
                <a href="#">
                  <i class="far fa-comment"></i>
                  <span>284</span>
                </a>
              </li>
              <li class="btn-react-green">
                <a href="#">
                  <i class="fas fa-share"></i>
                  <span>219</span>
                </a>
              </li>
              <li class="btn-react-red">
                <a href="#">
                  <i class="far fa-heart"></i>
                  <span>15.9K</span>
                </a>
              </li>
              <li class="btn-react-blue">
                <a href="#">
                  <i class="fas fa-external-link-alt"></i>
                </a>
              </li>
            </ul>
          </footer>
        </div>
      </main>
      <aside id="aside" class="sticky">
        <div class="search">
          <i class="fas fa-search fa"></i>
          <input type="search" name="search" id="search" placeholder="Search Twitter" autocomplete="off" />
        </div>
        <div class="trends outline">
          <header class="header">
            <h2>Trends for you</h2>
            <a href="#" class="btn-small"><i class="fas fa-cog"></i></a>
          </header>
          <ul>
            <li>
              <div class="block-container">
                <div class="block">
                  <div class="labels">
                    <a href="#">
                      <p>Trending in Lithuania</p>
                      <h3>Link 1</h3>
                      <p>56.8K Tweets</p>
                    </a>
                  </div>
                </div>
                <div class="button">
                  <a href="#" class="btn-small btn-primary-light"><i class="fas fa-info-circle"></i></a>
                </div>
              </div>
            </li>
            <li>
              <div class="block-container">
                <div class="block">
                  <div class="labels">
                    <a href="#">
                      <p>Trending in Lithuania</p>
                      <h3>Link 1</h3>
                      <p>56.8K Tweets</p>
                    </a>
                  </div>
                </div>
                <div class="button">
                  <a href="#" class="btn-small btn-primary-light"><i class="fas fa-info-circle"></i></a>
                </div>
              </div>
            </li>
            <li>
              <div class="block-container">
                <div class="block">
                  <div class="labels">
                    <a href="#">
                      <p>Trending in Lithuania</p>
                      <h3>Link 1</h3>
                      <p>56.8K Tweets</p>
                    </a>
                  </div>
                </div>
                <div class="button">
                  <a href="#" class="btn-small btn-primary-light"><i class="fas fa-info-circle"></i></a>
                </div>
              </div>
            </li>
            <li>
              <div class="block-container">
                <div class="block">
                  <div class="labels">
                    <a href="#">
                      <p>Trending in Lithuania</p>
                      <h3>Link 1</h3>
                      <p>56.8K Tweets</p>
                    </a>
                  </div>
                </div>
                <div class="button">
                  <a href="#" class="btn-small btn-primary-light"><i class="fas fa-info-circle"></i></a>
                </div>
              </div>
            </li>
            <li>
              <div class="block-container">
                <div class="block">
                  <div class="labels">
                    <a href="#">
                      <p>Trending in Lithuania</p>
                      <h3>Link 1</h3>
                      <p>56.8K Tweets</p>
                    </a>
                  </div>
                </div>
                <div class="button">
                  <a href="#" class="btn-small btn-primary-light"><i class="fas fa-info-circle"></i></a>
                </div>
              </div>
            </li>
            <li>
              <div class="block-container">
                <div class="block">
                  <div class="labels undreline-hlabel">
                    <a href="#">
                      <p>Show more</p>
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="follow outline">
          <header class="header">
            <h2>Who to follow</h2>
          </header>
          <ul>
            <li>
              <div class="block-container">
                <div class="block">
                  <a href="#">
                    <img src="../img/user.png" alt="" />
                  </a>
                  <div class="labels undreline-hlabel">
                    <a href="#">
                      <h3>pokimane</h3>
                      <p>@pokimanelol</p>
                    </a>
                  </div>
                </div>
                <div class="button">
                  <a href="#" class="btn btn-light">Follow</a>
                </div>
              </div>
            </li>
            <li>
              <div class="block-container">
                <div class="block">
                  <a href="#">
                    <img src="../img/user.png" alt="" />
                  </a>
                  <div class="labels undreline-hlabel">
                    <a href="#">
                      <h3>pokimane</h3>
                      <p>@pokimanelol</p>
                    </a>
                  </div>
                </div>
                <div class="button">
                  <a href="#" class="btn btn-light">Follow</a>
                </div>
              </div>
            </li>
            <li>
              <div class="block-container">
                <div class="block">
                  <a href="#">
                    <img src="../img/user.png" alt="" />
                  </a>
                  <div class="labels undreline-hlabel">
                    <a href="#">
                      <h3>pokimane</h3>
                      <p>@pokimanelol</p>
                    </a>
                  </div>
                </div>
                <div class="button">
                  <a href="#" class="btn btn-light">Follow</a>
                </div>
              </div>
            </li>
            <li>
              <div class="block-container">
                <div class="block">
                  <a href="#">
                    <img src="../img/user.png" alt="" />
                  </a>
                  <div class="labels undreline-hlabel">
                    <a href="#">
                      <h3>pokimane</h3>
                      <p>@pokimanelol</p>
                    </a>
                  </div>
                </div>
                <div class="button">
                  <a href="#" class="btn btn-light">Follow</a>
                </div>
              </div>
            </li>
            <li>
              <div class="block-container">
                <div class="block">
                  <a href="#">
                    <img src="../img/user.png" alt="" />
                  </a>
                  <div class="labels undreline-hlabel">
                    <a href="#">
                      <h3>pokimane</h3>
                      <p>@pokimanelol</p>
                    </a>
                  </div>
                </div>
                <div class="button">
                  <a href="#" class="btn btn-light">Follow</a>
                </div>
              </div>
            </li>
            <li>
              <div class="block-container">
                <div class="block">
                  <div class="labels undreline-hlabel">
                    <a href="#">
                      <p>Show more</p>
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <footer id="main-footer">
          <ul>
            <li><a href="#" class="underline">Terms of Service</a></li>
            <li><a href="#" class="underline">Privacy Policy</a></li>
            <li><a href="#" class="underline">Cookie Policy</a></li>
            <li><a href="#" class="underline">Ads info</a></li>
            <li><a href="#" class="underline">More</a></li>
            <li>&copy; 2021 Twitter, Inc.</li>
          </ul>
        </footer>
      </aside>
    </div>
  </body>
</html>
