{% if side_trending_tags %}
  <div class="trends outline">
    <header class="header">
      <h2>Trends for you</h2>
      <a href="#" class="btn-small"><i class="fas fa-cog"></i></a>
    </header>
    <ul>
      {% for country, trending_tag in side_trending_tags %}
        <li>
          <div class="block-container">
            <div class="block">
              <div class="labels">
                <a href="#">
                  <p>Trending in {{ country }}</p>
                  <h3>#{{ trending_tag.tag }}</h3>
                  <p>{{ trending_tag.tweet_set.count }} Tweet{{ trending_tag.tweet_set.count|pluralize:'s' }}</p>
                </a>
              </div>
            </div>
            <div class="button">
              <a href="#" class="btn-small btn-primary-light"><i class="fas fa-info-circle"></i></a>
            </div>
          </div>
        </li>
      {% endfor %}
      <li>
        <div class="block-container">
          <div class="block">
            <div class="labels undreline-hlabel">
              <a href="#">
                <p>Show more</p>
              </a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
{% endif %}